#myphoto {
    float:center;
    height:40%;
    width:25%;
}
#centerDoc {
    position: absolute;
    z-index: 15;
    padding: 0 0 20px 20px; /*top right bottom left*/
    margin-top: 0;
    margin-left: 500px;
    border-style: solid;
    border-width: 5px;
    width: 80%;
    }
    body {
        font-family: Georgia, "Times New Roman", Times;
        font-size: 14px;
        color: red;
        background-color: white;

        }
        
        p { width: 30%; }
        a:link {color:  purple; text-decoration: none;}   
        a:visited { color: purple; background: red; }   
        a:hover { color: red; text-decoration: underline;} 
        a:active { color: purple; font-weight: bold;}
    head {
        color:blue
}
#topnav {
    font-family: Comic Sans;
}
